body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #eca4d4;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f0cbee;
    padding: 10px;
    color: rgb(227, 176, 212);
}

.navbar .menu a {
    background: var(--dark);
    color: rgb(98, 85, 98);
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.navbar .search input {
    padding: 5px;
}

.navbar .search button {
    padding: 5px 10px;
    background-color: #7f7e7f;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.navbar a:hover {
    background-color:#f60ce6;
    color: rgb(65, 65, 65);
    padding: 10px 10px;
}

/* Main Section */
.main {
    display: flex;
}

/* Content */
.content {
    flex: auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}
/* 

/* Sidebar */
.sidebar {
    flex: 0.5;
    background-color: #e6b3e8;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #deafd3;
    color: #f18dd8;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-right: auto;
    text-align: left;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #b77474;
}

th {
    background-color: #e50e9d;
    color: rgb(235, 229, 229);
    padding: 10px;
}

td {
    padding: 10px;
    text-align: left;
}

.total {
    background-color: #eb579c;
    font-weight: bold;
    color: white;
}

/* Footer */
.footer {
    background-color: #de97d0;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

/* register */
.register {
    background-color: rgb(238, 19, 212);
    color: white;
    padding: 7px 62px;
    border: none;
    cursor: pointer;
}

/* cancel */
.cancel {
    background-color: crimson;
    color: white;
    padding: 7px 68px;
    border: none;
    cursor: pointer;
}